create table products
(
    id            serial primary key,
    name          varchar(100),
    price         numeric(10, 2),
    last_modified timestamp
);

insert into products (name, price, last_modified)
values ('Bàn phím cơ', 1500000, '2024-12-01 10:15:30'),
       ('Chuột gaming', 800000, '2025-01-10 08:20:15'),
       ('Màn hình 24 inch', 3500000, '2025-02-05 14:45:00'),
       ('Laptop Dell', 15000000, '2025-03-12 19:10:25'),
       ('Tai nghe Bluetooth', 1200000, '2025-04-01 09:05:50');

create  or replace function update_last_modified()
returns trigger as $$
    begin
        new.last_modified = current_timestamp;
        return new;
    end;
$$ language plpgsql;

create or replace trigger trg_update_last_modified
after update on products
for each row
execute function update_last_modified();

update products
set price = 1000000
where id = 5;

select * from products;