create table customers(
    id serial primary key,
    name varchar(100),
    credit_limit int
);

create table orders(
    id serial primary key,
    customer_id int references customers(id),
    order_amount int
);
INSERT INTO customers (name, credit_limit) VALUES
                                               ('Nguyen Trung Tuan', 5000), -- Khách hàng VIP
                                               ('Le Thi Lan', 1000),        -- Khách hàng mới
                                               ('Tran Van Nam', 2500),      -- Khách hàng thân thiết
                                               ('Pham Minh Hoang', 500),    -- Hạn mức thấp
                                               ('Hoang Thu Thuy', 1500);
-- Hạn mức trung bình
select * from customers;

create or replace function check_credit_limit()
returns trigger as $$
    declare
        c_credit_limit int;
        total_order_amount int;
    begin
        select credit_limit into c_credit_limit from customers where id = new.customer_id;
        select sum(order_amount) into total_order_amount
        from orders
        where customer_id = new.customer_id;
        if new.order_amount > c_credit_limit - total_order_amount then
            raise exception 'Vượt hạn mức cho phép !';
        else
            return new;
        end if;
    end;
$$ language plpgsql;


create or replace trigger trg_insert_orders
before insert on orders
for each row
execute function check_credit_limit();

insert into orders(customer_id, order_amount)
values (1, 50);

select * from orders;