create table employees(
    id serial primary key,
    name varchar(100),
    position varchar(100),
    salary numeric
);

INSERT INTO employees (name, position, salary) VALUES
                                                   ('Nguyen Trung Tuan', 'Java Backend Developer', 2500.50),
                                                   ('Le Thi Lan', 'Frontend Developer', 1800.00),
                                                   ('Tran Van Nam', 'Senior Database Administrator', 3200.75),
                                                   ('Pham Minh Hoang', 'Project Manager', 4500.00),
                                                   ('Hoang Thu Thuy', 'Intern Developer', 800.25);

create table employees_log(
    id_log serial primary key,
    employee_id int,
    operation varchar(50) check(operation in ('update', 'delete', 'insert')),
    data_old jsonb,
    data_new jsonb,
    change_time timestamp
);

drop table employees_log;

create or replace function insert_employee()
returns trigger as $$
    begin
        insert into employees_log(employee_id, operation, data_old, data_new, change_time)
        values(
               new.id,
               'insert',
               null,
               to_jsonb(new),
               current_timestamp
              );
        return new;
    end;
$$ language plpgsql;

create or replace trigger trg_insert_employee
after insert on employees
for each row
execute function insert_employee();

create or replace function update_employee()
    returns trigger as $$
begin
    insert into employees_log(employee_id, operation, data_old, data_new, change_time)
    values(
              old.id,
              'update',
              to_jsonb(old),
              to_jsonb(new),
              current_timestamp
          );
    return new;
end;
$$ language plpgsql;

create or replace trigger trg_update_employee
    after update on employees
    for each row
execute function update_employee();

create or replace function delete_employee()
    returns trigger as $$
begin
    insert into employees_log(employee_id, operation, data_old, data_new, change_time)
    values(
              old.id,
              'delete',
              to_jsonb(old),
              null,
              current_timestamp
          );
    return old;
end;
$$ language plpgsql;

create or replace trigger trg_delete_employee
    after delete on employees
    for each row
execute function delete_employee();

select * from employees_log;
select * from employees;


insert into employees(name, position, salary)
values ('Nguyen Van A', 'Intern Developer', 800.25);

delete from employees
where id = 3;

update employees
set salary = 100
where id = 1;