create table products2(
    id serial primary key,
    name varchar(100),
    stock int
);

INSERT INTO products2 (name, stock) VALUES
                                        ('iPhone 15 Pro Max', 5),
                                        ('MacBook Air M3', 12),
                                        ('AirPods Pro Gen 2', 50),
                                        ('iPad Pro M4', 3),
                                        ('Apple Watch Series 9', 25);

create table orders2(
    id serial primary key,
    product_id int references products2(id),
    quantity int
);

select * from products2;
select * from orders2;

create or replace function insert_orders()
returns trigger as $$
    declare
        fun_stock int;
    begin
        select stock into fun_stock from products2 where id = new.product_id;
        if fun_stock < new.quantity then
            raise exception 'Không thêm được đơn hàng!';
        end if;
        update products2
        set stock = fun_stock - new.quantity
        where id = new.product_id;
        return new;
    end;
$$ language plpgsql;

create or replace trigger trg_insert_orders
before insert on orders2
for each row
execute function insert_orders();

create or replace function update_order()
returns trigger as $$
    declare
        fun_stock int;
        result_stock int;
    begin
        select stock into fun_stock from products2 where id = new.product_id;
        if new.quantity < old.quantity then
            result_stock := old.quantity - new.quantity;
            fun_stock := fun_stock + result_stock;
        else
            result_stock := new.quantity - old.quantity;
            if result_stock > fun_stock then
                raise exception 'Không thể thay đổi đơn hàng do kho không đủ !';
            else
                fun_stock := fun_stock - result_stock;
            end if;
        end if;
        update products2
        set stock = fun_stock
        where id = new.product_id;
        return new;
        exception
        when others then
        raise;
    end;
$$ language plpgsql;

create or replace trigger trg_exchange_order
before update on orders2
for each row
execute function update_order();


create or replace function delete_order()
returns trigger as $$
    declare
        fun_stock int;
    begin
        select stock into fun_stock from products2 where id = old.product_id;
        fun_stock := fun_stock + old.quantity;
        update products2
        set stock = fun_stock
        where id = old.product_id;
        return old;
    end;
$$ language plpgsql;

create or replace trigger trg_delete_order
before delete on orders2
for each row
execute function delete_order();

insert into orders2(product_id, quantity)
values (2, 10);

update orders2
set quantity = 20
where id = 4 and product_id = 2;

delete from orders2
where id = 4 and product_id = 2;