create table customers2(
    id serial primary key,
    name varchar(100),
    email varchar(100),
    phone varchar(100),
    address varchar(100)
);

INSERT INTO customers2 (name, email, phone, address)
VALUES
    ('Nguyễn Văn A', 'anv@gmail.com', '0912345678', 'Hà Nội'),
    ('Trần Thị B', 'btt@gmail.com', '0987654321', 'TP. Hồ Chí Minh'),
    ('Lê Văn C', 'clv@gmail.com', '0901122334', 'Đà Nẵng'),
    ('Phạm Minh D', 'dpm@gmail.com', '0933445566', 'Hải Phòng'),
    ('Hoàng Anh E', 'eah@gmail.com', '0977889900', 'Cần Thơ');

create table customers_log(
    id serial primary key,
    customer_id int,
    operation varchar(50) check(operation in ('update', 'insert', 'delete')),
    old_data jsonb,
    new_data jsonb,
    change_by varchar(100),
    change_time date
);

drop table customers_log;


create or replace function insert_customer()
returns trigger as $$
    begin
        insert into customers_log(customer_id, operation, old_data, new_data, change_by, change_time)
        values (
                new.id,
                'insert',
                null,
                to_jsonb(new),
                current_user,
                current_timestamp
               );
        return new;
    end;
$$ language plpgsql;

create or replace trigger trg_insert_customer
after insert on customers2
for each row
execute function insert_customer();

insert into customers2(name, email, phone, address)
values ('Nguyen van An', 'an@123.com', '0998776523', 'HaNoi');

create or replace function update_customers()
returns trigger as $$
    begin
        insert into customers_log(customer_id, operation, old_data, new_data, change_by, change_time)
        values (
                   new.id,
                   'update',
                   to_jsonb(old),
                   to_jsonb(new),
                   current_user,
                   current_timestamp
               );
        return new;
    end;
$$ language plpgsql;

create or replace trigger trg_update_customers
after update on customers2
for each row
execute function update_customers();

update customers2
set email = 'example@gmail.com'
where id = 2;


create or replace function delete_customers()
returns trigger as $$
    begin
        insert into customers_log(customer_id, operation, old_data, new_data, change_by, change_time)
        values (
                   old.id,
                   'delete',
                   to_jsonb(old),
                   null,
                   current_user,
                   current_timestamp
               );
        return old;
    end;
$$ language plpgsql;

create or replace trigger trg_delete_customers
after delete on customers2
for each row
execute function delete_customers();

delete from customers2
where id = 3;

select * from customers2;
select * from customers_log;