create schema exp6;

create table exp6.products(
    id serial primary key,
    name varchar(100),
    stock int
);

create table exp6.orders(
    id serial primary key,
    product_id int references exp6.products(id),
    quantity int,
    order_status varchar(100)
);

INSERT INTO exp6.products (name, stock)
VALUES
    ('Laptop Dell XPS', 15),
    ('iPhone 15 Pro', 20),
    ('Bàn phím cơ AKKO', 50),
    ('Chuột Logitech G502', 30),
    ('Màn hình LG 27 inch', 10);

INSERT INTO exp6.orders (product_id, quantity, order_status)
VALUES
    (1, 1, 'Đang xử lý'),
    (2, 2, 'Đã thanh toán'),
    (3, 5, 'Đang giao hàng'),
    (1, 1, 'Hoàn thành'),
    (5, 3, 'Đã hủy');
create or replace function insert_orders()
returns trigger as $$
    declare
        fun_stock int;
    begin
        select stock into fun_stock from exp6.products where id = new.product_id;
        if fun_stock < new.quantity then
            raise exception 'Không thể thêm hàng vì trong kho không đủ.';
        end if;
        update exp6.products
        set stock = fun_stock - new.quantity
        where id = new.product_id;
        return new;
    end;
$$ language plpgsql;

create or replace trigger trg_insert_orders
before insert on exp6.orders
for each row
execute function insert_orders();

insert into exp6.orders(product_id, quantity, order_status)
values (1, 1000, 'Đã thanh toán');

insert into exp6.orders(product_id, quantity, order_status)
values (1, 10, 'Đã thanh toán');

create or replace function update_orders()
returns trigger as $$
    declare
        fun_stock int;
        remain_quantity int;
    begin
        select stock into fun_stock from exp6.products where id = old.id;
        if old.quantity  < new.quantity then
            remain_quantity := new.quantity - old.quantity;
            if fun_stock < remain_quantity then
                raise exception 'Trong kho không đủ để cập nhật đơn hàng.';
            end if;
            fun_stock := fun_stock - remain_quantity;
        else
            fun_stock := fun_stock + (old.quantity - new.quantity);
        end if;
        update exp6.products
        set stock = fun_stock
        where id = old.product_id;
        return new;
    end;
$$ language plpgsql;

create or replace trigger trg_update_orders
before update on exp6.orders
for each row
execute function update_orders();

update exp6.orders
set quantity = 3
where id = 1 and product_id = 1;

create or replace function delete_orders()
returns trigger as $$
    begin
        update exp6.products
        set stock = stock +  old.quantity
        where id = old.product_id;
        return old;
    end;
$$ language plpgsql;

create or replace trigger trg_delete_orders
before delete on exp6.orders
for each row
execute function delete_orders();

delete from exp6.orders
where id = 3 and product_id = 3;

select * from exp6.products;
select * from exp6.orders;
